<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    {% load bootstrap3 %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <meta charset="UTF-8">
    <title>{{ poll.name }}</title>
</head>
<body>
{% if error %}
    <p><strong>{{ error }}</strong></p>
{% endif %}

<form method="post" action=".">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='Submit'%}
    {% endbuttons %}
</form>
</body>
</html>
