<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <meta charset="UTF-8">
    <title>Polls</title>
</head>
<body>
{% if polls_list %}
<div class="content">
     {% for poll in polls_list %}
    <div class="poll">
         <h3>
             <a href="{% url 'polls:page' poll.id %}">
                 {{ poll.name }}<br>
             </a>
             {{ poll.description }}
         </h3>
     </div>
     {% endfor %}
 </div>
 {% else %}
    <p>No polls available.</p>
{% endif %}
</body>
</html>